version: "3.7"

services:
  wordpress:
    image: wordpress:latest
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp
      WORDPRESS_DB_PASSWORD: MyStr0ngP455
      WORDPRESS_DB_COLLATE: utf8_unicode_ci
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./apps/wp-plugin:/var/www/html/wp-content/plugins/elm-users-tracking
    depends_on:
      - db
    ports:
      - 8000:80

  db:
    image: mysql:8.0.35
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --init-connect='SET NAMES UTF8MB4;' --innodb-flush-log-at-trx-commit=0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_USER: wp
      MYSQL_PASSWORD: MyStr0ngP455
      MYSQL_ROOT_PASSWORD: MyStr0ngP455
      MYSQL_DATABASE: wordpress
    volumes:
          - wpdb:/var/lib/mysql
          - ./apps/wp-plugin/mysql.cnf:/etc/mysql/conf.d/custom.cnf

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: MyStr0ngP455

volumes:
    wpdb:
        driver: local